<div class="home-wrapper">
  <div class="menu">
    <ul nz-menu nzMode="horizontal">
      <ng-container *ngFor="let menu of menuList; let i = index">
        <li *ngIf="!hasChildren(menu)" nz-menu-item [nzSelected]="i === selectedMenuIndex">
          <!-- <i nz-icon nzType="mail"></i> -->
          {{menu.title}}
        </li>
        <li *ngIf="hasChildren(menu)" nz-submenu [nzTitle]="menu.title"  [nzSelected]="i === selectedMenuIndex">
          <ul>
            <li *ngFor="let child of menu.children" nz-menu-item>{{child.title}}</li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>