<div class="home-wrapper">
    <div class="menu">
      <ul nz-menu nzMode="horizontal">
        <ng-container *ngFor="let menu of menuList">
          <li *ngIf="!hasChildren(menu)" nz-menu-item>
            <i nz-icon nzType="mail"></i>
            {{menu.title}}
          </li>
          <li *ngIf="hasChildren(menu)" nz-submenu [nzTitle]="menu.title" nzIcon="setting">
            <ul>
              <!-- <li nz-menu-item nzSelected>angular</li> -->
              <li *ngFor="let child of menu.children" nz-menu-item>{{child.title}}</li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
    <router-outlet></router-outlet>
</div>
