.home-wrapper {
    padding: 50px;
    padding-left: 100px;
    height: calc(100vh - 68px);
    position: relative;
    margin: 0 auto;
    .img {
        height: calc(100% - 100px);
        display: inline-block;
        z-index: 2;
        position: relative;
        cursor: pointer;
       &:hover {
           transition: 10ms height, 10ms width;
            height: calc(100% - 98px);
        }
    }
    .text {
        border: 2px solid black;
        height: 56%;
        width: 51%;
        position: absolute;
        right: 260px;
        bottom: 23px;
        text-align: right;
        color: brown;
        padding: 40px 10px;
    }
}
